#productIntroHolder {
    /*width: 35%;*/
    height: fit-content;
    align-self: center;
}


.overlayImagesBlur {
    width: var(--elemW);
    aspect-ratio: 1;
    opacity: 0.40;
    background-color: rgb(209, 209, 209);
    display: block;
    position: relative;
    top: var(--blurTop);
    /*! visibility: hidden; */
}

.typeHolder {
    aspect-ratio: 1;
    width: var(--elemW);
    height: var(--elemH);
    overflow: clip;
    margin: 2%;
    align-self: center;
    text-align: center;
    border: 3px solid whitesmoke;
    display: block;
    position: relative;
    left: 0%;
}

.catgryText {
    font-size: var(--catTxtSize);
    font-weight: bold;
    display: block;
    position: relative;
    top: var(--catTxtTop);
    color: #ffffff;
}

.displayImg {
    width: var(--framW);
    height: var(--framH);
    padding: 2%;
    display: block;
    position: relative;
    top: var(--disImgTop);
    left: var(--disImgLeft);
}

/* Portrait orientation ||*/
@media screen and (orientation: portrait) {
    #indexBody {
        display: flex;
        flex-direction: column;
    }

    #mainContent {
        width: 100%;
        height: fit-content;
        align-self: center;
    }

    #productIntroHolder {
        display: flex;
        flex-direction: column;
    }

    :root {
        --elemW: 300px;
        --elemH: 300px;
        --framW: 300px;
        --framH: 300px;
        --blurTop: -104%;
        --catTxtSize: 30px;
        --catTxtTop: -175%;
        --disImgTop: -7px;
        --disImgLeft: -7px;
    }
}

/* landscape orientation ||*/
@media screen and (orientation: landscape) {
    #indexBody {
        display: flex;
        flex-direction: row;
    }

    #mainContent {
        width: 65%;
        height: fit-content;
    }

    #productIntroHolder {
        /*display: grid;
        row-gap: 2%;
        column-gap: 5%;
        grid-template-columns: repeat(2, var(--elemWH));*/
        display: flex;
        flex-direction: row;
        overflow: clip;
    }

    :root {
        --elemW: 550px;
        --elemH: 550px;
        --framW: 550px;
        --framH: 550px;
        --blurTop: -104%;
        --catTxtSize: 47px;
        --catTxtTop: -158%;
        --disImgTop: -10px;
        --disImgLeft: -10px;
    }
}