body {
    background: rgb(33, 32, 32); /*background color grey*/
    font-family: Arial, Helvetica, sans-serif; /*font style change*/
}
h1{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 4px #c66666, 0 0 8px #6793c6;
    font-size: 55px;
}
nav{
    background-color: rgb(52, 51, 51);
    text-align: center;
    position: sticky;
    top:0;
    z-index: 1000000;
    height: fit-content;
    width: fit-content(100%);
}
.nav-bar{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: start;
}
.header{
    color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    flex-grow: 1;
    position: relative;
    left: 0;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.navkeys{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    position:relative;
    width: fit-content;
}
.navs{
    flex-grow: 1;
    margin: 5px;
    border-radius: 2px;
    font-weight: bold;
}
a{
    color: rgb(255, 255, 255);
    background-color: darkslategrey;
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    padding: 10px;
    border: 2px solid powderblue;
    margin-top: 2px;
    margin-bottom:2px;
    position: relative;
}
h4 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-stretch: expanded;
    letter-spacing: 2.5px;
    text-shadow: 0 0 8px #c66666, 0 0 12px #6793c6;
}
h3 {
    color: powderblue;
    font-size: 20px;
    font-stretch: expanded;
    letter-spacing: 1.5px;
}
li{
    width: fit-content;
    height: fit-content;
    /*padding-top: 25px;
    padding-bottom: 25px;
    border-spacing: 30px;
    margin-top: 5px;
    margin-bottom: 5px;*/
    justify-content: center;
    align-items: center;
}
ul{
    width: fit-content;
    justify-content: center;
}
.sns-buttons{
    flex-grow: 0.13;
    border-spacing: 15px;
    margin: 5px;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    font-weight: bolder;
}
.sns-button-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    padding-bottom: 0px;
}
#sns-button-fb{
    background: linear-gradient(#0000CC,#01019ec8,#0101839e);
}
#sns-button-ig{
    background: linear-gradient(#8b0053,#740146,#68013e);
}
#sns-button-jsdl{
    background: linear-gradient(#9e4a01c8,#723601c8,#e16b03c8);
}
#sns-button-whatsapp{
    background: linear-gradient(#006e47,#018e5d,#01482f);
}
#sns-button-gmap{
    background: radial-gradient(#ac0202,#ac3502,rgba(131, 73, 1, 0.62));
}
article {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-stretch: expanded;
    word-wrap: normal;
    text-align: left;
}

.info-flex-holder{
    display: flex;
    flex-direction:row;
    position: relative;
    padding: 5px;
    justify-content: center;
    padding-left: 8px;
}
.flexs{
    flex-wrap: wrap;
    word-wrap: normal;
    width: fit-content;
    overflow-wrap: normal;
    text-align: left;
    margin: 10px;
    word-spacing: 5px;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(122, 81, 4);
    border-style: groove;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
.aboutus-container{
    margin: 100px;
    word-spacing: 5px;
    border-radius: 20px;
    border-width: 5px;
    border-color: wheat;
    border-style: groove;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    line-height: 55px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

iframe.maps-frame{
    min-width: 40%;
    min-height: 20%;
    width: 60%;
    aspect-ratio: 2.8;
    padding: 5px;
    margin: 5px;
    border:0;
}
iframe{
    min-width: 600px;
    min-height: 400px;
    width: 80%;
    aspect-ratio: 1.96;
    padding: 5px;
    margin: 5px;
    border:0;
}
.map-holder{
    width: inherit;
    height : inherit;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.contact-form-holder{
    text-align: center;
    min-width: inherit;
    height: 50%;
}
iframe.contact-form{
    min-width: 50%;
    height: 50%;
}