@font-face {
    font-family: "Sofia";
    src: local("./font/Sofia-Regular.ttf"),
        url("./font/Sofia-Regular.ttf");
}

body {
    background: var(--bg-color);
    /*!background color grey*/
    /*!font style change*/
    margin: 0;
    background-image: url('../imgs/bg/tt_Spectacles_200px.png');
    width: fit-content;
    font-family: var(--fontfamily-header-large);
}

:root {
    --fontfamily-header-large: Garamond, serif;
    --fontfamily-fancy-text: Sofia, serif;
    --fontfamily-readable: 'Courier New', Courier, monospace;
}

.theme-dark {
    --bg-color: rgb(50, 50, 50);
    --font-color-primary: #fff;
    --font-color-secondary: #cbc4c4;
    --navbar-bg-color: linear-gradient(rgba(71, 26, 26, 0.9), rgba(41, 0, 0, 0.9),
            rgba(56, 21, 21, 0.9), rgba(74, 28, 28, 0.9),
            rgba(93, 34, 34, 0.95), rgba(112, 41, 41, 0.95));
    --text-shadow: 0 0 4px #c66666, 0 0 8px #6793c6;
    --btn-active-color: linear-gradient(#3f6789, #375a78, #2f4d67, #375a78, #3f6789);
    --btn-filter-bg-color: linear-gradient(#027263, #027f6e, #1b8c7d, #027f6e, #027263);
    --flex-bg-color: linear-gradient(rgba(66, 55, 66, 0.8), rgba(50, 44, 50, 0.8), rgba(44, 33, 44, 0.8), rgba(44, 33, 44, 0.8), rgba(50, 44, 50, 0.8), rgba(66, 55, 66, 0.8));
    --btn-inactive-color: linear-gradient(#2f4d67, #284156, #203444, #284156, #2f4d67);
    --btn-share-color: linear-gradient(#4b4b59, #353544, #1e1e2f, #1e1e2f, #353544, #4b4b59);
    --color-filter-invert: '';
}

.theme-light {
    --bg-color: #EFEAEA;
    --font-color-primary: #2e2e2e;
    --font-color-secondary: #828282;
    --navbar-bg-color: linear-gradient(rgba(160, 170, 170, 0.9), rgba(170, 180, 180, 0.9), rgba(180, 187, 187, 0.9), rgba(180, 187, 187, 0.9), rgba(170, 180, 180, 0.9), rgba(160, 170, 170, 0.9));
    --text-shadow: 0 0 4px #eadcba, 0 0 8px #f5edc0;
    --btn-active-color: linear-gradient(#6399c7, #70ace0, #7cbff9, #70ace0, #6399c7);
    --btn-filter-bg-color: linear-gradient(#358e82, #4e9c92, #67aaa1, #4e9c92, #358e82);
    --flex-bg-color: linear-gradient(rgba(201, 245, 225, 0.8), rgba(207, 246, 229, 0.8), rgba(214, 247, 232, 0.8), rgba(214, 247, 232, 0.8), rgba(207, 246, 229, 0.8), rgba(201, 245, 225, 0.8));
    --btn-inactive-color: linear-gradient(rgb(54, 116, 170), rgb(54, 116, 190), rgb(54, 116, 210), rgb(54, 116, 190), rgb(54, 116, 170));
    --btn-share-color: linear-gradient(rgb(149, 180, 183), rgb(155, 192, 196), rgb(185, 217, 220), rgb(155, 192, 196), rgb(149, 180, 183));
    --color-filter-invert: invert(100%) sepia(0%) saturate(0%) hue-rotate(263deg) brightness(108%) contrast(108%);
}

#prodParent {
    background: var(--flex-bg-color);
}

button {
    border-radius: 4px;
    font-family: var(--fontfamily-fancy-text);
}

#nav-menu li {
    float: left;
    height: inherit;
    /*!width: 100%;*/
    margin: 0 1%;
    flex-grow: 1;
}

#cartFloat {
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: grey;
    border-radius: 5%;
    z-index: 100;
}

#cartExpand,
#cartCount {
    min-width: 20px;
    min-height: 20px;
    font-size: x-large;
    font-weight: bolder;
    z-index: 100;
}

h1,
#flexSpc,
#flexSpcTxt,
#flexSpcTel {
    color: var(--font-color-primary);
    text-shadow: var(--text-shadow);
    font-size: xx-large;
}

/**animation event #start**/
@keyframes flash {
    25% {
        color: var(--font-color-primary);
        /* color: wheat;*/
    }

    50% {
        color: var(--font-color-secondary);
        /*color: gold;*/
    }

    75% {
        color: var(--font-color-primary);
        /*color: rosybrown;*/
    }

    100% {
        color: var(--font-color-secondary);
        /*color: goldenrod;*/
    }
}

/**animation element setup**/
#flexSpcTel,
#flashBannerTxt {
    font-size: 15px;
    font-weight: bold;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: var(--flex-bg-color);
    animation-name: flash;
    /** line 88**/
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#flashBannerTxt {
    display: block;
    position: relative;
    font-family: var(--fontfamily-fancy-text);
    font-size: 72%;
}

#flashBanner {
    margin: 8px;
    opacity: 0.8;
    background-color: var(--bg-color);
    flex-grow: 1;
    border-radius: 25px;
    text-align: center;
    display: flex;
    width: 100%;
    height: fit-content;
}

#flashBannerBg {
    width: fit-content;
    padding: 2px;
    height: 54px;
    border-radius: 35px;
    align-content: center;
    display: flex;
    height: fit-content;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bgflash;
}

/*animation event #start*/
@keyframes bgflash {
    25% {
        background-color: rgb(165, 20, 20);
    }

    50% {
        background-color: rgb(135, 26, 135);
    }

    75% {
        background-color: rgb(195, 56, 84);
    }

    100% {
        background-color: rgb(140, 103, 10);
    }
}

/*animation event #end*/
.logo {
    margin: 0.5%;
    margin-left: 0.1%;
    border-radius: 50%;
}

#navbarhide {
    font-size: large;
}

nav {
    /*background: linear-gradient(rgb(42, 42, 45),rgb(23, 23, 23),rgb(16, 16, 16), rgb(23, 23, 23), rgb(45, 42, 42));*/
    /*background: linear-gradient(rgb(42, 42, 45),rgb(23, 23, 23),rgb(16, 15, 15), rgb(23, 23, 14), rgb(23, 14, 14), rgb(34, 9, 9));*/
    /*background: linear-gradient(#2e0000, #290000, #290000, #290000, #2e0000, #330000, #471a1a, #5c3333);*/
    background: var(--navbar-bg-color);
    text-align: left;
    position: sticky;
    /*opacity: 0.8;*/
    top: 0;
    z-index: 1000000;
    width: 100vw;
    margin: 0 2px 0 0;
    /*text-align: end;*/
}

#flexSpc,
#flexSpcTxt,
#flexSpcTel {
    flex-grow: 0.75;
    text-align: center;
}

#staticbar,
#logoHeader,
#navBanner {
    display: flex;
    /*flex-direction:row;*/
    align-items: center;
    justify-content: start;
    align-content: center;
    align-self: flex-start;
    /*border: 3px solid rgb(141, 141, 141);*/
    border-bottom: #00594d;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1%;
    text-align: center;
    justify-content: space-between;
    font-family: Arial;
}

.header {
    color: var(--font-color-primary);
    width: fit-content;
    position: relative;
    left: 0;
    margin-left: 2%;
    margin-top: 0.50%;
    margin-bottom: 0px;
}

.navkeys {
    display: flex;
    margin-right: 0.50%;
    margin-top: 0.50%;
    padding: 0.25%;
    position: relative;
    width: fit-content;
}

.navs {
    flex-grow: 1;
    margin: 0.25%;
    border-radius: 2px;
    font-weight: bold;
}

/*a{
    color: var(--font-color-primary);
    background: linear-gradient(#027f6e,#037667,#035549, #005d51, #00594d, #036a5c);
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    padding: 10px;
    border: 2px solid powderblue;
    margin-top: 2px;
    margin-bottom:2px;
    position: relative;
}*/
p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    word-wrap: normal;
}

h4 {
    color: var(--font-color-primary);
    font-size: 170%;
    font-stretch: expanded;
    letter-spacing: 2.5px;
    text-shadow: 0 0 8px #c66666, 0 0 12px #6793c6;
    font-family: var(--fontfamily-fancy-text);
}

h3 {
    color: var(--font-color-primary);
    font-size: 115%;
    font-stretch: expanded;
    letter-spacing: 1px;
    margin: 0.50%;
    font-family: var(--fontfamily-readable);
}

li {
    color: var(--font-color-secondary);
    width: fit-content;
    height: fit-content;
    /*padding-top: 25px;
    padding-bottom: 25px;
    border-spacing: 30px;
    margin-top: 5px;
    margin-bottom: 5px;*/
    justify-content: center;
    align-items: center;
}

ul {
    width: fit-content;
    justify-content: center;
}

/*.sns-buttons{
    flex-grow: 0.13;
    border-spacing: 15px;
    margin: 5px;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    font-weight: bolder;
    color: var(--font-color-primary);
    background: linear-gradient(#027f6e,#037667,#035549, #005d51, #00594d, #036a5c);
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    padding: 10px;
    border: 2px solid powderblue;
    margin-top: 2px;
    margin-bottom:2px;
}*/
.sns-buttons {
    flex-grow: 0.13;
    border-spacing: 0.75%;
    margin: 0.12%, 0.12%, 0.25%, 0.25%;
    text-align: center;
    border-radius: 5px;
    font-weight: bolder;
    color: var(--font-color-primary);
    background: linear-gradient(#027f6e, #037667, #035549, #005d51, #00594d, #036a5c);
    height: fit-content;
    /*
    font-size: x-large;
    font-size: 130%;
    */
    padding: 0%, 0%, 2%, 2%;
    border: 2px solid powderblue;
}

.sns-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    padding-bottom: 0px;
}

#sns-button-fb {
    background: linear-gradient(#1D1DE4, #1313aa, #060662);
}

#sns-button-ig {
    background: linear-gradient(#b91461, #950b4b, #6d0636);
}

#sns-button-gmap {
    background: linear-gradient(#a40909, #710505, #2f0000);
}

#sns-button-jsdl {
    background: linear-gradient(#d56502c7, #9e4a01c8, #402003c7);

}

#sns-button-whatsapp {
    background: linear-gradient(#006e47, #018e5d, #01482f);
}

#sns-button-twitter {
    background: linear-gradient(#09547d, #054365, #022e45);
}

article {
    color: var(--font-color-primary);
    font-size: 145%;
    font-stretch: expanded;
    word-wrap: normal;
    text-align: left;
    font-family: var(--fontfamily-readable);
    font-weight: bold;
}

.content-holder {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    justify-content: center;
    padding-left: 8px;
}


.info-holder {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5px;
    justify-content: center;
    padding-left: 8px;
}

.flexs,
#detailsView {
    flex-wrap: wrap;
    word-wrap: normal;
    min-width: 45%;
    overflow-wrap: normal;
    text-align: left;
    margin: 0.50%;
    word-spacing: 3px;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(122, 81, 4);
    border-style: groove;
    padding-left: 1.25%;
    padding-right: 1.25%;
    padding-bottom: 0.50%;
    background: var(--flex-bg-color);
    /*font-family: var(--fontfamily-header-large);*/
}

.aboutus-container {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    word-spacing: 20%;
    border-radius: 20px;
    border-width: 5px;
    border-color: wheat;
    border-style: groove;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    letter-spacing: 20%;
    line-height: 200%;
    width: 80%;
    align-items: center;
    justify-content: center;
    background: var(--flex-bg-color);
}

iframe.contact-form {
    width: 100%;
    height: 1500px;
    border: 0;
}

iframe {
    border: 0;
    aspect-ratio: 1.96;
}

.map-holder {
    width: inherit;
    height: inherit;
    min-width: 70%;
    min-height: 40%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

.contact-form-holder {
    text-align: center;
    min-width: inherit;
    min-height: 1500px;
    height: fit-content;
}

a.dailer {
    font-size: x-large;
    width: fit-content;
    padding: 0.3%;
    font-family: var(--fontfamily-readable);
}

/*Test.html Trial*/
/* nav-menu container */

/* Links inside the nav-menu */
/*.nav-menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    /*padding-right: 3%;
    min-width: 30%;*/
    width: 100%;
    align-self: center;
}

/* Dropdown button */

.dropdown .dropbtn,
.menuBtns,
.dailer {
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0.20% 0 0.20% 0;
    /* Important for vertical align on mobile phones */
    background: var(--btn-filter-bg-color);
    height: inherit;
    /*font-size: 140%;*/
    border: 3px solid #acbec7;
    /*margin-top: 0.20%;
    margin-bottom: 0.20%;*/
    padding: 2px 0 2px 0;
    position: relative;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px;
}

/*.menuBtn {
    padding: 22% 22% 22% 22%;
    margin: 22% 22% 22% 22%;
}*/
.dropbtn {
    width: 100%;
}

.menuBtns {
    color: rgb(175, 175, 175);
    margin: 0.7%;
    display: block;
    min-width: fit-content;
}

/* Add a red background color to nav-menu links on hover */
#nav-menu .dropdown:hover button {
    background: linear-gradient(#900226, #73021e, #5e0219, #6a021c, #73021e, #900226);
}

@keyframes shineGreenBtn {
    18% {
        background: radial-gradient(#4fdecb, #53b6a9, #043f37, #043f37, #04433b, #275750);
    }

    36% {
        background: radial-gradient(#325f59, #4fdecb, #53b6a9, #043f37, #04433b, #275750);
    }

    52% {
        background: radial-gradient(#325f59, #04433b, #4fdecb, #53b6a9, #04433b, #275750);
    }

    70% {
        background: radial-gradient(#325f59, #04433b, #043f37, #4fdecb, #53b6a9, #275750);
    }

    85% {
        background: radial-gradient(#325f59, #04433b, #043f37, #043f37, #4fdecb, #53b6a9);
    }

    100% {
        background: radial-gradient(#53b6a9, #04433b, #043f37, #043f37, #04433b, #4fdecb);
    }
}

.whatsappBtn:hover {
    animation-duration: 500ms;
    animation-iteration-count: 3;
    animation-name: shineGreenBtn;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9e9e9e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 15;
    width: fit-content;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 1% 3%;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 2%;
    min-width: fit-content;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background: linear-gradient(#888787, #4a4a4a, #4a4a4a, #888787);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Test.html Trial*/

/* mod-5aug23 -v1.0.6*/
.contentSlider .mainContent {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.30%;
    justify-content: center;
    padding-left: 0.60%;
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
}


.mySlides {
    width: 100%;
    display: none;
}

#sectionSwitch {
    width: 100%;
    height: fit-content;
    align-items: center;
    margin: 0.5%;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10%;
    flex-wrap: wrap;
}

.slideName,
#filter {
    height: fit-content;
    width: fit-content;
    margin: 0.5%;
    padding: 0.5%;
    background: var(--btn-inactive-color);
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: var(--font-color-primary);
    /*text-shadow: 0 0 12px #3c1010, 0 0 8px #000;*/
    font-size: x-large;
}

#filter {
    background: var(--btn-filter-bg-color);
}

.active {
    background: var(--btn-active-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.active,
.dot:hover {
    background-color: #717171;
}

#playPause,
button {
    align-self: center;
    background: #022e45;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0.5%;
}

.mapView {
    width: 85%;
    min-height: 70%;
    border-radius: 3.5%;
    border-style: groove;
    max-width: 100%;
}

/* mod-5aug23 -v1.0.6*/
#youtube-holder {
    align-self: center;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0.5%;
    aspect-ratio: 1;
    min-width: 40%;
    min-height: 50%;
}

.trackingField,
#trackingDetailView {
    border: 6px solid rgb(210, 179, 27);
    border-radius: 10px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    text-align: center;
    align-items: center;
    text-align: start;
    align-items: start;
    padding: 2% 5% 2% 10%;
    background: var(--flex-bg-color);
}

.trackSubmitBtn {
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-size: large;
    font-weight: bold;
    min-width: 10%;
    align-self: center;
    flex-grow: 1;
}

.inputDetails,
.trackIdInput {
    padding: 8px 0 8px 0;
    min-width: 30%;
    align-self: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: large;
}

#trackingDetailView {
    font-weight: bold;
    color: var(--font-color-primary);
    background-color: rgba(50, 50, 50, 0.80);
}

.mainContent {
    display: flex;
    align-items: center;
    text-align: center;
}

.contentSlider {
    width: 95%;
    min-height: 50%;
}

#share {
    font-weight: bold;
    border: 1px solid rgb(221, 214, 175);
    /*background: linear-gradient(#4b4b59, #353544, #1e1e2f, #1e1e2f, #353544, #4b4b59);*/
    background: var(--btn-share-color);
    border-radius: 4px;
    margin: 0.5%;
    padding: 0.5%;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: var(--font-color-primary);
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-shadow: var(--font-color-secondary)
}

#sharesvg {
    filter: var(--color-filter-invert);
}

/* Portrait orientation ||*/
@media screen and (orientation: portrait) {
    #flashBannerTxt {
        left: 6%;
    }

    #flashBannerBg {
        min-width: 30%;
    }

    #share {
        height: 30px;
    }

    .mainContent {
        flex-direction: column;
    }

    .mapView {
        aspect-ratio: 0.76;
    }

    #youtube-holder {
        width: 90%;
    }

    article {
        font-size: 100%;
    }

    h4 {
        font-size: 120%;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 100%;
        letter-spacing: 1px;
    }

    .info-holder {
        flex-direction: column;
    }

    #staticbar {
        flex-direction: column;
    }

    #nav-menu {
        width: 100%;
        margin-bottom: 2px;
    }

    .logo {
        max-width: 30%;
    }

    #directionFrame {
        width: 100%;
        margin-top: 5%;
    }

    .dropdown-content {
        min-width: 40%;
    }

    #prodParent {
        width: 100vw;
    }

    .mainProdView {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-content: center;
        text-align: center;
        font-size: large;
        padding: 0;
    }

    .dropbtn,
    .sns-buttons,
    .slideName {
        font-size: 15px;
    }

    .header,
    #flexSpc,
    #flexSpcTxt {
        font-size: 30px;
        margin-bottom: 2px;
    }

    #nav-menu div {
        font-size: medium;
    }
}

/* Landscape orientation = */
@media screen and (orientation: landscape) {
    #flashBannerTxt {
        left: 11%;
    }

    #flashBannerBg {
        min-width: 25%;
    }

    #share {
        height: 45px;
    }

    #sectionSwitch {
        left: 20%;
    }

    .mainContent {
        flex-direction: row;
    }

    .mapView {
        aspect-ratio: 1.96;
    }

    #trackingDetailView {
        font-size: larger;
    }

    #youtube-holder {
        width: 55%;
    }

    #staticbar {
        flex-direction: row;
    }

    #nav-menu {
        width: 30%;
    }

    .logo {
        max-width: 12%;
    }

    #directionFrame {
        width: 60%;
    }

    #prodParent {
        min-width: 20%;
        max-width: 70%;
    }

    .dropdown-content {
        min-width: 15%;
    }

    .mainProdView {
        display: grid;
        /*width: 100%;*/
        align-content: center;
        text-align: center;
        /*column-gap: 2%;*/
        /*row-gap: 2%;*/
        grid-template-columns: repeat(3, 33%);
        font-size: larger;
    }

    .dropbtn,
    .sns-buttons,
    .slideName {
        font-size: larger;
    }

}


/***INDEX PAGE CSS****/

#productIntroHolder {
    /*width: 35%;*/
    height: fit-content;
    align-self: center;
}

#swipeHolder {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.overlayImagesBlur {
    width: var(--elemW);
    aspect-ratio: 1;
    opacity: 0.4;
    background-color: rgb(207, 208, 208);
    display: block;
    position: relative;
    top: var(--blurTop);
    /*! visibility: hidden; */
}

.typeHolder {
    aspect-ratio: 1;
    width: var(--elemW);
    height: var(--elemH);
    overflow: clip;
    /*!margin: 2%;*/
    align-self: center;
    text-align: center;
    border: 7px solid whitesmoke;
    display: block;
    position: relative;
    left: 0%;
    border-radius: 45px
}

.catgryText {
    font-size: var(--catTxtSize);
    font-weight: bold;
    display: block;
    position: relative;
    top: var(--catTxtTop);
    color: #fff;
    font-family: var(--fontfamily-fancy-text);
}

.displayImg {
    width: var(--framW);
    aspect-ratio: 1;
    height: var(--framH);
    padding: 2%;
    display: block;
    position: relative;
    top: var(--disImgTop);
    left: var(--disImgLeft);
}

#indexBody {
    display: flex;
    flex-direction: column;
}

/* Portrait orientation ||*/
@media screen and (orientation: portrait) {
    #indexBody {
        flex-direction: column;
    }

    #swipeHolder {
        min-width: calc(var(--widthPercent) + 10vw);
    }

    .contentSlider {
        min-width: calc(var(--widthPercent) + 20vw);
    }

    .mySlides {
        min-width: calc(var(--widthPercent) + 20vw);
    }

    #youtube-holder {
        min-width: calc(var(--widthPercent) + 20vw);
        aspect-ratio: 1;
    }

    #mainContent {
        /*!width: 100%;*/
        min-width: calc(var(--widthPercent) + 10vw);
        height: fit-content;
        align-self: center;
    }

    #productIntroHolder {
        display: flex;
        flex-direction: column;
    }

    :root {
        --elemW: var(--widthPercent);
        --elemH: var(--widthPercent);
        --framW: var(--widthPercent);
        --framH: var(--widthPercent);
        --blurTop: -104%;
        --catTxtSize: 30px;
        --catTxtTop: -132%;
        --disImgTop: -7px;
        --disImgLeft: -7px;
        --widthPercent: 70vw;
    }
}

/* landscape orientation ||*/
@media screen and (orientation: landscape) {

    #indexBody {
        flex-direction: row;
    }

    .contentSlider {
        min-width: calc(var(--widthPercent) + 20vh);
    }

    .mySlides {
        min-width: calc(var(--widthPercent) + 30vh);
    }

    #swipeHolder {
        min-width: calc(var(--widthPercent) + 10vh);
        margin: 0 2vw 0 0;
    }

    #youtube-holder {
        min-width: calc(var(--widthPercent) + 20vh);
        aspect-ratio: 1;
    }

    #mainContent {
        min-width: calc(var(--widthPercent) + 10vh);
        height: fit-content;
    }

    #productIntroHolder {
        /*display: grid;
        row-gap: 2%;
        column-gap: 5%;
        grid-template-columns: repeat(2, var(--elemWH));*/
        display: flex;
        flex-direction: row;
        overflow: clip;
    }

    :root {
        --elemW: var(--widthPercent);
        --elemH: var(--widthPercent);
        --framW: var(--widthPercent);
        --framH: var(--widthPercent);
        --blurTop: -104%;
        --catTxtSize: 47px;
        --catTxtTop: -125%;
        --disImgTop: -10px;
        --disImgLeft: -10px;
        --widthPercent: 50vh;
    }
}

#gridFrames {
    display: flex;
    min-height: 30%;
    width: fit-content;
    overflow: hidden;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    color: var(--flex-bg-color);
    animation-name: moveit;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    flex-direction: row;
    position: absolute;
}

#gridHolder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
}

/***INDEX PAGE CSS****/